<!DOCTYPE html>
<html>

<head>
    <title>Exercise Tracker | Free Code Camp</title>
    <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <h1>Exercise tracker<br/>
            <form id="getUserForm" action="/api/exercise/users" method="get">
                <input id="getUsers" type="submit" value="Show Users">
            </form>
        </h1>

        <form action="/api/exercise/new-user" method="post">
            <h3>Create a New User</h3>
            <input id="uname" type="text" name="username" placeholder="username">
            <input type="submit" value="Submit">
        </form>

        <form action="/api/exercise/add" method="post">
            <h3>Add exercises</h3>
            <input id="uid" type="text" name="userId" placeholder="userId*">
            <input id="desc" type="text" name="description" placeholder="description*">
            <input id="dur" type="text" name="duration" placeholder="duration* (mins.)">
            <input id="dat" type="text" name="date" placeholder="date (yyyy-mm-dd)">
            <input type="submit" value="Submit">
        </form>

        <form action="/api/exercise/log/" method="get">
            <h3>Check Database</h3>
            <input id="userget" type="text" name="userIdGet" placeholder="userId*">
            <input id="frdate" type="text" name="fromDate" placeholder="From:Date(optional)">
            <input id="todate" type="text" name="toDate" placeholder="To:Date(optional)">
            <input id="lim" type="text" name="limit" placeholder="Number of records">
            <input type="submit" value="Submit">
            <input type="submit" value="Show Users" formaction="/api/exercise/users">
        </form>

        <div>
            GET users's exercise log: GET /api/exercise/log?{userId}[&from][&to][&limit] { } = required, [ ] = optional from, to = dates (yyyy-mm-dd); limit = number

            </p>

        </div>
</body>

</html>